<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: "Reset Password"}) %>
</head>
<body>
  <% if (typeof message != "undefined") { %>
    <div class="alert alert-warning text-center">
      <%= message %>
    </div>
  <% } %>

    <form method="post" class="container mt-5 mx-auto">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="mb-0 col-8">
          <label for="user_password" class="form-label">Password</label>
          <input type="password" class="form-control" id="user_password" name="user_password">
        </div>

        <div class="mb-3 col-8">
          <label for="user_password_again" class="form-label">Password Again</label>
          <input type="password" class="form-control" id="user_password_again" name="user_password_again">
        </div>

        <button type="submit" class="btn btn-success">Reset My Password</button>
      </form>
</body>
</html>