<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: "Blog Create"}) %>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>
    
    <div class="row container mx-auto mt-5 border border-muted p-5 rounded">
        <div class="col-12">
            <form method="post">
                <h1 class="text-center mb-5 h2">Category Create Form</h1>
  
                <div class="row mb-3">
                  <label for="category_name" class="col-sm-2 col-form-label">Category Name</label>
                  <div class="col-sm-10 col-md-4">
                    <input type="text" class="form-control" id="category_name" name="category_name" placeholder="Please enter category name">
                  </div>
                </div>
  
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
  
        </div>
    </div>
    
</body>
</html>