<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: "Blog List"}) %>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>
    
    <h1>Dashboard</h1>
</body>
</html>