<<<<<<< HEAD
<div class="my-3 alert alert-<%= alertClass %>" role="alert">
    <%= alertText %>
</div>
=======
<div class="my-3 alert alert-<%= alertClass %>" role="alert">
    <%= alertText %>
</div>
>>>>>>> e1cc4f6cb4e909b8fe7adc3034875226c04e20f2
