<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a href="/" class="container navbar-brand fw-bold fs-4">./Blog Example</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto column-gap-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin Panel
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/admin">Admin Panel Dashboard</a></li>
                    <li><a class="dropdown-item" href="/admin/blog/create">Blog Create</a></li>
                    <li><a class="dropdown-item" href="/admin/blogs">Blog List</a></li>
                    <li><a class="dropdown-item" href="/admin/category/create">Category Create</a></li>
                    <li><a class="dropdown-item" href="/admin/categories">Category List</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="/blogs" class="btn btn-light">Blogs</a></li>
        </ul>
      </div>
    </div>
  </nav>