<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../../partials/head', {title: "Not Found"}) %>
</head>
<body>
    <%- include('../../partials/navbar') %>
    <h1>404 Error</h1>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../../partials/head', {title: "Not Found"}) %>
</head>
<body>
    <%- include('../../partials/navbar') %>
    <h1>404 Error</h1>
</body>
>>>>>>> e1cc4f6cb4e909b8fe7adc3034875226c04e20f2
</html>