<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: "Blog Detail"}) %>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>

    <div class="container mt-3">
        <div class="row">
            <!-- Categories -->
            <div class="col-md-3">
                <%- include('../partials/detailSidebar') %>
            </div>

            <!-- Post Cards -->
            <div class="col-md-9">
                <%- include('../partials/detailCards') %>
            </div>
        </div>
    </div>
</body>
</html>