<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: "Homepage"}) %>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>

    <!-- Blog Posts -->
    <h1 class="h3 text-center">
        My Featured Blog Posts
    </h1>

    <div class="container mt-3">
        <div class="row">
            <!-- Categories -->
            <div class="col-md-3">
                <%- include('../partials/sidebar') %>
            </div>
            <div class="col-md-9">
                <% blogs.forEach(blog => { %>
                    <% if (blog.is_shown_homepage) { %>
                        <%- include('../partials/cards', {blog}) %>
                    <% } %>

                <% }) %>
                     
            </div>
        </div>
    </div>

</body>
</html>